
# DO NOT REMOVE THIS LINE AND THE LINES BELOW SSL_REDIRECT:nfq.kasteckis.com
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^nfq.kasteckis.com$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE SSL_REDIRECT:nfq.kasteckis.com
