# Block includes if they have a .inc.php extension. Change
# that to match whatever extension you use for your includes.
<Files *.inc.php>
Order Deny,Allow
Deny from All
</Files>

# Block access to .config files
<Files *.config>
Order Deny,Allow
Deny from All
</Files>