@font-face {
    src: url(../fonts/LemonMilk.otf);
    font-family: "LemonMilk";
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "LemonMilk";
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #0EA9E4;
}

.main-icon {
    position: absolute;
    margin-top: 15px;
    width: 50px;
}

nav .wrapper form {
    
    width: 100%;
}

nav .wrapper form button {
    float: right;
    margin: 20px 10px;
    background-color: #0EA9E4;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: "LemonMilk";
    border-radius: 8%;
    border-style: solid;
    border-width: 1px;
}

nav .wrapper form button:hover{
    background-color: rgb(42, 157, 202);
}

main {
    width: 100%;
    height: calc(100vh - 160px);
}

.waiting-box {
    width: 100%;
}

.waiting-box h1 {
    clear: both;
    text-align: center;
    margin-bottom: 20px;
}

.waiting-box h3 {
    margin: 5px;
    clear: both;
    text-align: center;
}

.waiting-box h4 {
    font-size: 30px;
    margin-top: 40px;
    clear: both;
    text-align: center;
}

.main-button {
    background-color: #278baf;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px 10px 0;
    border-radius: 10px;
}

.main-button:hover {
    background-color: #137eaf;
}

.cancelVisitForm{
    margin-top: 50px;
}

input {
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-screen {
    width: 100%;
}

.specialist-main {
    margin: 0px auto;
    clear: both;
}

.specialist-main {
    font-size: 20px;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #B9BEB3;
}

.icon {
    margin-top: 10px;
    width: 30px;
}